:root {
    --nav-link-color: rgba(233, 242, 251, 1);
    --nav-link-hover-color: rgb(190, 217, 243);
    --title-span-color: rgb(24, 78, 129);
    --hero-background: rgb(255, 255, 255);
    --hero-background-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(17, 57, 96, 1) 100%);
  
    --font-small: 0.5em;
    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 3.5rem;
    --font-4x-large: 4rem;
    --font-5x-large: 4.5rem;
    --font-6x-large: 5rem;
    --font-7x-large: 5.5rem;
  
    -text-color: rgba(7, 26, 44, 1);
  
    --transition-slow: 0.6s;
    --transition-medium: 0.4s;
    --transition-fast: 0.2s;
    --transition-fastest: 0.1s;
  }
  
  /*Large Desktop*/
  /*General CSS*/
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    
  }
  .logo img {
    display: block;
    max-width: 80px;
    height: 30px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    color: var(--title-span-color);
    font-weight: bold;
  }
  
  h2,
  h3,
  p {
    font-family: "Quicksand", sans-serif;
  }
  
  .container {
    width: 60%;
    margin: 0 auto;
  }
  
  /*Navigation*/
  
  .navigation {
    width: 100%;
    position: fixed;
    z-index: 100%;
    top: 0px;
    height: 50px;
  }
  
  .nav-container {
    margin: 0 auto;
    width: 70%;
    height: 120%;
    display: flex;
  }
  
  .nav-container .links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    font-family: "Courier New", monospace;
  }
  
  .nav-container .logo {
    display: flex;
    width: 20px;
    height: 40px;
    align-items: center;
  }
  
  .nav-container .logo span {
    color: var(--nav-link-hover-color);
  }
  
  .nav-container .links a,
  .nav-container .logo a {
    text-decoration: none;
    color: var(--nav-link-color);
    transition: var(--transition-fast);
  }
  
  .nav-container .links a {
    font-size: var(--font-medium);
  }
  
  .nav-container .logo a {
    font-size: var(--font-large);
  }
  
  .nav-container .links a:hover,
  .nav-container .logo a:hover {
    color: var(--nav-link-hover-color);
  }
  
  .nav-container .links a:after,
  .nav-container .logo a:after {
    display: block;
    content: "";
    border-bottom: 1px solid var(--nav-link-hover-color);
    transform: scaleX(0);
    transition: transform var(--transition-fastest) ease-in-out;
    transform-origin: 100% 50%;
  }
  
  .nav-container .logo a:hover:after,
  .nav-container .links a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  
  .mobile-button {
    display: none;
  }
  
  .mobile-logo {
    display: flex !important;
  }
  
  .custom-color {
    background-color: #007575;
  }
  
  .mobile-links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: var(--transition-fast);
    padding-top: 20px;
  }
  
  .mobile-links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--nav-link-color);
    display: block;
    transition: 0.3s;
  }
  
  .mobile-links a:hover {
    color: #f1f1f1;
  }
  
  .mobile-links .closebtn {
    font-size: var(--font-x-large);
    margin-right: 25px;
  }
  
  /*Hero*/
  .image {
    max-width: 100%;
    max-height:100%;
  }
  
  .hero {
    /* display: flex; */
    min-height: 300px;
    height: 800px;
    background-image: url("img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: inset 0px 0px 300px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 0px 3000px 2000px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 300px 2000px rgba(255, 255, 255, 0.8);
  }
  
  .hero .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 15px;
    text-align: left;
    font-size: 70px;
  }
  
  .animated-section {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    background: transparent;
    margin-left: 50px; /* Add the desired space from the left */
  }
 /* .image {
    background-image: url("img1.jpg");

 } */

  .animated-heading {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: hwb(247 8% 55%);
    animation: text-fade 3s ease-in-out infinite;
  }
  .ocean { 
    height: 5%;
    width: 100%;
    position: absolute;
    top: 120%;
    left: 0;
    background: #015871;
  }
  .half-circle {
    float: right;
    width: 50%;
    text-align: center;
  }

  .half-circle img {
    width: 100%;
    height: auto;
 /* Adjust the height as needed */
  }
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }

  

  .btn-secondary {
    background-color: #fff;
    color: #247ba0;
    border-color: #247ba0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  .btn-secondary:hover {
    background-color: #247ba0;
    color: #fff;
  }

    .btn-secondary {
      background-color: #247ba0;
      color: #fff;
      border-color: #247ba0;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      text-align: center;
      display: inline-block;
    }

    .btn-secondary:hover {
      background-color: #015871;
      border-color: #015871;
    }
  .btn-secondary {
    background-color: #fff;
    color: #247ba0;
    border-color: #247ba0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  .btn-secondary:hover {
    background-color: #247ba0;
    color: #fff;
  }
  @keyframes text-fade {
    0% { opacity: 0; transform: translateX(-20px); }
    50% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(20px); }
  }

  .second-sentence {
    margin-top: 20px;
  }
  .hero .text .pre-title {
    font-size: var(--font-2x-large);
  }
  .hero .text .title {
    font-size: var(--font-5x-large);
  }
  .hero .text .title span {
    color: var(--title-span-color);
    border-bottom: 5px solid var(--title-span-color);
  }
  .hero .text .post-title {
    font-size: xx-large;
  }
  
  /*About*/
  
  .product {
    min-height: 400px;
    display: flex;
    gap: 20px;
    padding: 50px 25px;
    background-color:#015871; 
    font-size: medium;
  }
  .list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .right {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .right::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url("img5.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .half-circle img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
  }
  .locate {
    min-height: 400px;
    display: flex;
    gap: 20px;
    padding: 50px 25px;
  }

  .services_container{
     background-color: #1997ba;
  }
  .section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: hwb(188 21% 21%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

  }

  .section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }

  .btn-primary {
    background-color: #247ba0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .btn-primary:hover {
    background-color: #1b5480;
  }
  
  /*Services*/
  .container1 {
    text-align: center;
    background-color: hwb(188 21% 21%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    color: white;
   
  }

  #bottlesSaved {
    font-size: 72px;
    font-weight: bold;
    font-weight: 900;
    color:black;
    margin-bottom: 10px;
  }

  .wysiwyg__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .wysiwyg__content {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }
  
  .container3 {
    text-align: center;
    background: linear-gradient(135deg, #00d2ff, #3a7bd5, #ff6e7f);
    animation: gradientAnimation 15s ease infinite;
    min-height: 200px;
    gap: 20px;
    padding: 50px 25px;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .blog-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  .blog-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .blog-card:hover {
    transform: translateY(-5px);
  }

  .blog-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1586D6;
  }

  .blog-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1586D6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .container3 {
    text-align: center;
  }
  .learn-more-btn:hover {
    background-color: #1273BD;
  }
  .container4 {
    text-align: center;
    min-height: 400px;
    
    gap: 20px;
    padding: 50px 25px;
  }

  .feedback-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
 h2{
  text-align: center;
 }
  .submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1586D6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #1273BD;
  }

  .or-text {
    margin-top: 20px;
    font-weight: bold;
  }

  .feedback-link {
    color: #1586D6;
    text-decoration: none;
  }
  footer {
   
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #007575;
  }

  .container5 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #007575;
    color: white;
  }

  
  .list {
    flex: 1;
    margin-right: 20px;
  }

  .list h3 {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list ul li {
    margin-bottom: 10px;
  }

  .list ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .list ul li a:hover {
    text-decoration: underline;
  }

  .copy-right {
    margin-top: 20px;
    font-size: 12px;
    color: white;
    text-align: center;
  }
  
  /*Utilities*/
  
  